# Dependencies
node_modules

# Environment variables
.env

# Logs
logs
*.log

# Build output
build
dist

# Editor files
.vscode
.idea
*.sublime*

# OS files
.DS_Store
Thumbs.db

# Sensitive data
config.js
*.pem

# Miscellaneous
npm-debug.log*
yarn-debug.log*
yarn-error.log*
